[submodule "external/benchmarks/scienceagentbench"]
	path = external/benchmarks/scienceagentbench
	url = https://github.com/OSU-NLP-Group/ScienceAgentBench.git
[submodule "agentiobench"]
	path = external/benchmarks/agentiobench
	url = git@github.com:grc-iit/agentiobench.git
[submodule "external/benchmarks/kramabench"]
	path = external/benchmarks/kramabench
	url = https://github.com/mitdbg/Kramabench.git
[submodule "external/libs/dftracer"]
	path = external/libs/dftracer
	url = https://github.com/izzet/dftracer.git
[submodule "external/libs/dfanalyzer"]
	path = external/libs/dfanalyzer
	url = https://github.com/izzet/dfanalyzer.git
[submodule "external/benchmarks/dsbench"]
	path = external/benchmarks/dsbench
	url = https://github.com/LiqiangJing/DSBench.git
