[submodule "external/benchmarks/scienceagentbench"]
	path = external/benchmarks/scienceagentbench
	url = https://github.com/OSU-NLP-Group/ScienceAgentBench.git
[submodule "agentiobench"]
	path = external/benchmarks/agentiobench
	url = git@github.com:grc-iit/agentiobench.git
[submodule "external/benchmarks/kramabench"]
	path = external/benchmarks/kramabench
	url = https://github.com/mitdbg/Kramabench.git
